<div>
    <div ng-if="shoppingListViewCtrl.loading">Loading...</div>
    <div ng-if="!shoppingListViewCtrl.loading">
        <span ng-if="!shoppingListViewCtrl.shoppingListItems.length">You don't have any products on your shopping list</span>

        <div ng-if="shoppingListViewCtrl.shoppingListItems.length">
            Your products:
            <ul>
                <li ng-repeat="shoppingListItem in shoppingListViewCtrl.shoppingListItems">
                    {{::shoppingListItem.name}} x{{::shoppingListItem.amount}}
                    <button ng-click="shoppingListViewCtrl.editItem(shoppingListItem.id)">Edit</button>
                </li>
            </ul>
        </div>
        <div>
            <button ng-click="shoppingListViewCtrl.addItems()">Add new products</button>
            <br/>
            <button ng-click="shoppingListViewCtrl.goBack()">Go back to your shopping lists</button>
        </div>
    </div>
</div>
